{% extends 'base.html' %}

{% block title %}Add Employee{% endblock title %}
{% block css %}
<style>
  #outer {
    position: relative;
    top: 20vh;
  }

  #inner {
    width: 60%;
    margin: auto;



    background-image: linear-gradient(rgb(255, 183, 183), rgb(139, 249, 255));

  }

  .box {
    padding: 20px;

    top: 20%;

  }
  .onoffswitch {
    position: relative; width: 155px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Covid Recovered";
    padding-left: 10px;
    background-color: rgb(0, 42, 255); color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Blood Donor";
    padding-right: 10px;
    background-color: rgb(238, 0, 255); color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 46px; margin: 2px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 101px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
</style>{% endblock css %}

{% block body %}
<div class="container">
  <div id="inner">
    <div class="box">
      <form action="/addpat" method="POST">

        {% csrf_token %}

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Patient Username</label>
          <input type="text" name="pusername" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Patient name</label>
          <input type="text" name="pname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Patient email</label>
          <input type="email" name="pemail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="onoffswitch">
    <input type="checkbox" name="DorCS" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>
        {% comment %} <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Patient Blood group</label>
          <input type="text" name="pbloodgrp" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div> {% endcomment %}
                      <select name="pbloodgrp" class="form-select change1 mt-2" 
                     onmousedown="if(this.options.length>5){this.size=5;}" onchange="this.blur()" onblur="this.size=0;"
                     id="state" aria-label="Default select example">
                     <option selected>Blood Group</option>
                     <option value="1">A +</option>
                     <option value="2">B +</option>
                     <option value="3">AB +</option>
                     <option value="4">O +</option>
                     <option value="5">A -</option>
                     <option value="6">B -</option>
                     <option value="7">Ab -</option>
                     <option value="8">O -</option>
              </select>
   
        <label for="birthday">Date Of Discharge</label>
  <input type="date" id="birthday" name="pdod" class="form-control" name="birthday">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Patient Age</label>
          <input type="text" name="p_age" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="form-group">
          <label for="pass1">Choose a password</label>
          <input type="password" class="form-control" id="pid1" name="pid1" placeholder="Choose Your Password" required>
        </div>
        <div class="form-group">
          <label for="pass2">Confirm Password</label>
          <input type="password" class="form-control" id="pid2" name="pid2" placeholder="Enter your password again"
            required>
        </div>

        <button type="submit" class="btn btn-primary my-3">Submit</button>
      </form>
    </div>
  </div>


  {% for uu in u %}
  <div class="card my-2">
    <div class="card-header">
      {{uu.N}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{uu.U}}</h5>
      <a href="/delCS/{{uu.U}}" class="btn btn-danger">Delete</a>
    </div>
  </div>




  {% endfor %}

</div>
</div>
</div>
</div>


{% endblock %}