{% extends 'base.html' %}

{% block title %}Add Employee{% endblock title %}

{% block body %}
<div id="box">
<div class="box">
<form action="/addemployeee" method="POST">

  {% csrf_token %} 
 
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Employee username</label>
    <input type="text"  name="eusername" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Employee name</label>
    <input type="text"  name="ename" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">employee email</label>
    <input type="email"  name="eemail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="form-group">
    <label for="pass1">Choose a password</label>
    <input type="password" class="form-control" id="pass1" name="epass1" placeholder="Choose Your Password" required>
  </div>
  <div class="form-group">
    <label for="pass2">Confirm Password</label>
    <input type="password" class="form-control" id="pass2" name="epass2" placeholder="Enter your password again" required>
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
{% for uu in u %}
  {{uu.Name}}
  {{uu.username}}
  {{uu.group}}
  <br>
  <a href="/delE/{{uu.username}}">delete</a>
  <hr>
  {% endfor %}




 {% endblock %}