{% extends 'base.html' %}

{% block title %}Comments{% endblock title %}
{% block css %}
<style>
  #pagination {
    margin: auto;
    width: 200px;
    zoom: 1.4;
  }
</style>



{% endblock css %}

{% block body %}
<div class="container">

{% for post in page_obj %}
<div class="card my-2">
  <div class="card-header">
    {{post.fname}} {{post.lname}}
  </div>
  <div class="card-body">
    <h5 class="card-title">By {{post.authorUsername}} <small>{{post.Timestamp}} </small></h5>
    <h5 class="card-title">email {{post.email}}</h5>
    <p class="card-text">

    {% autoescape off %}{{post.comment|slice:200}}{% endautoescape %}
    
    
    
      </p>
  </div>
</div>








{% endfor %}
<div id="pagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}

        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Next">
            <span aria-hidden="true">&laquo;</span>
          </a>
          {% endif %}
        <li class="page-item"><a class="page-link" href="#">{{page_obj.number}}</a></li>
        {% if page_obj.has_next %}

        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
</div>







 {% endblock %}