{% extends 'base.html' %}


{% block css %}

<style>
 

  .contact {
    padding: 0% 4%;
    height: 400px;
    
  }

  .col-md-3 {
    background: rgb(8, 0, 83);
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .contact-info {
    margin-top: 10%;
    /* background-color: #25274d; */
  }

  .contact-info img {
    margin-bottom: 15%;
  }

  .contact-info h2 {
    margin-bottom: 10%;
  }

  .col-md-9 {
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .contact-form label {
    font-weight: 600;
  }

  .contact-form button {
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
  }

  /* .contact-form button:focus{
    box-shadow:none;
} */
  .button2 {
    display: inline-block;
    padding: 7px 27px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(224, 131, 131);
     }

  .button2:hover {
    background-color: #0d0038
  }
  .t{
    position: relative;
    top: 10vh;
  }

  .button2:active {
    background-color: #0d0038;
    box-shadow: 0 5px rgb(224, 131, 131);
    transform: translateY(4px);
  }
  .right1 {
    
    position: relative;
    right: -200px;
    top:4vh;
    visibility: hidden;
    animation: right1 0.3s ease-out 1 0.3s forwards;
  }
  @keyframes right1 {
    0% {opacity: 0;
      visibility: visible;
      left: 200px;
      top: 0px;
    }

    100% {opacity: 1;
      /* background: rgb(255, 240, 240); */
      left: 0px;
      visibility: inherit;
      top: 0px;
    }
  }
 
  .ct{
    color: white;
  }
 
</style>

{% endblock css %}


{% block body %}

<div id="r" class="t">
<div class="container contact right1">
  <div class="row my-4">
    <div class="col-md-3">
      <div class="contact-info">
        <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
        <h2 class="ct">Contact Us</h2>
        <h4 class="ct">We would love to hear from you !</h4>
      </div>
    </div>
    <div class="col-md-9">
      <form action="/contactus" method="POST">
    {% csrf_token %}

        <div class="contact-form">
          <div class="form-group">
            <label class="control-label col-sm-2" for="fname">First Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="lname">Last Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="comment">Comment:</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="5" name="comment" id="comment"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn v my-2">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div></div>
<script>
  //  $('#r').remove(); 
</script>
{% endblock body %}