{% extends 'base.html' %}

{% block title %}Covid Updates{% endblock title %}
{% block links %}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
{% endblock links %}

{% block css %}


<style>
       * {
              margin: 0;
              padding: 0;
       }

       #map {
              height: 98vh;
              width: 38vw;


       }



       .mapboxgl-popup {
              max-width: 400px;
              font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
       }








       #DataShown {
              margin: auto;
              width: 100px;
       }

       .flagimg {
              width: 10vw;
              height: 10vh;
              position: absolute;
              top: 40vh;
              left: 45vw;
              z-index: 8998;
              opacity: 1;

       }



       #gridd {
              display: grid;
              grid-template-columns: 1.7fr 1fr;
              grid-gap: 2px;


       }

       @media only screen and (max-width: 886px) {
              .total-monal {

                     top: 50vh;
              }

       }

       #gr {
              height: 98vh;
       }

       #gridd>div {
              /* background-color:rgb(12, 12, 86) ; */
              background: radial-gradient(#a1c4fd, #c2e9fb);

       }

       #gl>.outer>select {
              width: 25%;
              /* background-color: rgb(235, 236, 255); */
              margin: 5px;
              color: rgb(0, 0, 52);
              display: inline-block;
              position: relative;
       }

       #gl>button {
              /* position: relative;
              left: -3vw; */
              margin: auto;
              margin: 5px 9px;
       }

       .change1 {
              float: left;

       }

       .change2 {
              float: left;
       }

       .change3 {
              float: left;

       }

       .outer {}

       #ff {
              width: 50vw;
              margin: auto;
       }


       .vacc {
              display: flex;
              width: 95vw;
              margin: auto;
              flex-wrap: wrap;
              justify-content: center;
              flex-direction: row;
              /* display: inline-block; */
              margin-bottom: 9vh;
       }

       .box {
              height: 20vh;
              max-width: 14vw;
              min-width: 200px;
              margin-left: 5px;
              margin-bottom: 10px;
              /* box-shadow: chartreuse 5px 5px 5px; */
              color: rgb(2, 16, 84);
              display: flex;
              /* text-decoration: w; */
              flex-direction: column;
              align-items: center;
              justify-content: center;
              font-size: 150%;
              transition: all 0.5s;

       }

       .box:hover {
              box-shadow: rgb(0, 0, 0) 4px 7px 7px;
              transform: scale(1.05, 1.05);
              z-index: 34092;
              box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
                     -5px -5px 30px 15px rgba(0, 0, 0, 0.22);

       }

       #dc {
              background: radial-gradient(#1fe4f5, #3fbafe);
       }

       #dd {
              background: radial-gradient(#1fe4f5, #3fbafe);
       }

       #dr {
              background: radial-gradient(#1fe4f5, #3fbafe);
       }

       #td {
              background: radial-gradient(#1fe4f5, #3fbafe);
       }

       #tr {
              background: radial-gradient(#1fe4f5, #3fbafe);
       }

       #tc {
              background: radial-gradient(#1fe4f5, #3fbafe);

       }

       #v {
              /* background-color: #00e400; */
              background: radial-gradient(#1fe4f5, #3fbafe);
       }

       .box b {
              font-family: 'Times New Roman', Times, serif;

       }

       .hdd {
              width: 100%;
              height: 40px;
              text-align: center;
              background-color: rgb(18, 0, 91);
              color: white;
              font-size: 1.4em;
              font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
       }




       /* mediaaaaaaaaaaaaaaaaaaaaaaaa */

       @media only screen and (max-width: 886px) {

              #gridd {
                     display: grid;
                     grid-template-columns: 1fr;
              }


              #gl {
                     position: relative;
                     top: 46vh;
              }



              #gr {
                     position: absolute;
                     height: 10vh;
                     width: 100%;
              }

              #map {
                     height: 46vh;
                     width: 100vw;


              }

              .flagimg {
                     display: none;

              }

              #gl>.outer>select {
                     width: 31%;
                     /* background-color: rgb(235, 236, 255); */
                     margin: 2px;
                     color: rgb(0, 0, 52);
                     display: inline-block;
                     position: relative;
              }

              #gl>button {

                     margin: auto;
                     margin: 2px 3px;
                     padding: 5px 4px;
              }

              .vacc {
                     display: flex;
                     position: relative;
                     top: 50vh;
                     width: 95vw;
                     margin: auto;
                     flex-wrap: wrap;
                     justify-content: center;
                     flex-direction: row;
                     /* display: inline-block; */
                     margin-bottom: 9vh;
              }



              #ff {
                     width: 95vw;
                     margin: auto;
              }




       }

       .box h3 {
              color: rgb(255, 255, 255);
              font-weight: bold;
       }



       .searchblood-container {
              margin: 12px auto;
              width: 274px;
              display: flex;
              
       }

       .selectblood {
              text-align: center;
       }

       .donorsearchicon {
              margin: 4px;

       }

       .donorsearchicon button {
              background-color: rgb(197, 49, 49);
              color: white;
              padding: 0 7px;
       }
       #inst{
              
              max-height: 40vh;
              min-height: 60px;
              min-width: 30px;
              max-width: 60vw;
              text-align: center;
              font-family: 'Times New Roman', Times, serif;
              font-weight: bolder;
              color: black;
              font-size: 1.5em;
              margin: 10px auto ;
              
       }

</style>

{% endblock css %}


{% block body %}
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet"
       href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
       type="text/css">

<!-- Promise polyfill script is required -->
<!-- to use Mapbox GL Geocoder in IE 11. -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<div id="gridd">

       <div id="gl">
              <div id="flag">
              </div>
              <div class="outer">
                     
   
            <select class="form-select selectblood" onchange="myFunction2()" id="country"
            onchange="this.blur()"
            onblur="this.size=0;" aria-label="Default select example">
            <option selected>Country</option>
       </select>
            <select disabled class="form-select selectblood" onchange="myFunction()"
            onchange="this.blur()"
            onblur="this.size=0;" id="state" aria-label="Default select example">
            <option selected>State</option>
       </select>
            <select disabled class="form-select selectblood"  onchange="myFunction1()" id="dist"
            aria-label="Default select example" 
            onchange="this.blur()" onblur="this.size=0;" id="state" aria-label="Default select example">
            <option>District</option>
       </select>
            
             
   
                  
   
          
           
   
   

                    

              </div>
              <button id="DataShown" type="button" class="custom-btn btn-3"><span>Search</span></button>


              <div id="ff">
                     <div id="CS">
                            <div id="inst"> &#128269 <br>
                                   Select the region to find the update of active covid cases.
                                   
                            </div>


                            <canvas id="myChartCS" style="width:100%;max-width:600px"></canvas>
                     </div>
                     <div id="SD">


                            <canvas id="myChartSD" style="width:100%;max-width:600px"></canvas>
                     </div>

              </div>


       </div>
       <div id="gr">

              <div id="map"></div>

              <br>
       </div>

</div>
<img src="" alt="" class="flg">
<div class="vacc">
       <div class="hdd" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">INDIA</div>

       <div id="dc" class="box">
              <b> Daily Confirmed</b>
              <h3 id="dcc"></h3>

       </div>
       <div id="dd" class="box">
              <b>Daily Deaths</b>
              <h3 id="ddd"></h3>

       </div>
       <div id="dr" class="box">
              <b>Daily Recovered</b>
              <h3 id="drr"></h3>

       </div>
       <div id="v" class="box">
              <b>Fully Vaccinated</b>
              <h3 id="vv"></h3>

       </div>
       <div id="tc" class="box">
              <b>Total Confirmed</b>
              <h3 id="tcc"></h3>

       </div>
       <div id="td" class="box">
              <b>Total Deaths</b>
              <h3 id="tdd"></h3>

       </div>
       <div id="tr" class="box">
              <b>Total Recovered</b>
              <h3 id="trr"></h3>

       </div>

</div>
<script>

</script>


{% comment %}
<script>
       var xValues = ["Active", "France", "Spain", "USA", "Argentina"];
       var yValues = [550, 49, 44, 24, 15];
       var barColors = ["red", "green", "blue", "orange", "brown"];

       new Chart("myChartCS", {
              type: "bar",
              data: {
                     labels: xValues,
                     datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                     }]
              },
              options: {
                     indexAxis: 'y',
                     legend: { display: false },
                     title: {
                            display: true,
                            text: "World Wine Production 2018"
                     }
              }
       });
       var xValues = ["Active", "France", "Spain", "USA", "Argentina"];
       var yValues = [550, 49, 44, 24, 15];
       var barColors = ["red", "green", "blue", "orange", "brown"];

       new Chart("myChartSD", {
              type: "bar",
              data: {
                     labels: xValues,
                     datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                     }]
              },
              options: {
                     indexAxis: 'y',
                     legend: { display: false },
                     title: {
                            display: true,
                            text: "World Wine Production 2018"
                     }
              }
       });
</script> --> {% endcomment %}























{% endblock %}

{% block js %}

{% load static %}
<script src="{% static 'static.js' %}"></script>
{% endblock js %}