
{% extends 'base.html' %}
{% block title %}Donors{% endblock title %}
{% block css %}
<style>
.conta {
          width: 60vw;
          margin: auto;
          vertical-align: center;
     } 
     .showdata {
          max-width: 40vw;
          min-width: 300px;
          max-height: 60vh;
          min-height: 50vh;
          margin: auto;
          overflow-y: scroll;
          position: relative;
          top: 20vh;
          display: none;

          
           background-color: white;
           background-image: linear-gradient(rgb(224, 222, 228),rgb(232, 238, 174));
           /* opacity: ; */
     }#bgg{
      width: 99vw;
      height: 100vh;
      position: absolute;
    
      z-index: -99999;
      opacity: 0.6;
    }
    #bt{
         /* display: inline-block; */
         /* position: absolute; */
         float: right;
         margin: 5px;
     }
     #bgrp{
          width: 80%;
          display: inline-block;
          /* height: 400px; */
     }
     #Donor_search{
     /* border: solid red 20px; */
     width: 50vw;
     margin: auto;
     position: relative;
     top: 10vh;
}
    
.total-monal{

top: 70vh;
}


        @media only screen and (max-width: 886px) {
    .total-monal{

        top: 20vh;
    }

}


</style>


{% endblock css %}

{% block body %}
 
{% load static %}
  <img id="bgg" src="{% static "imgs/donor.jpg" %}" alt="home" />
<div class="conta my-4">

     <form method="post" action="#" id="Donor_search">{% csrf_token %}
          <select name="Donor_search_bg" class="form-select change1 mt-2"
               onmousedown="if(this.options.length>5){this.size=5;}" onchange="this.blur()" onblur="this.size=0;"
               id="bgrp" aria-label="Default select example">
               <option value="1">A +</option>
                <option value="2">B +</option>
                <option value="3">AB +</option>
                <option value="4">O +</option>
                <option value="5">A -</option>
                <option value="6">B -</option>
                <option value="7">Ab -</option>
                <option value="8">O -</option>

                <option value="9">A +  (Plasma)</option>
                <option value="10">B + (Plasma)</option>
                <option value="11">AB + (Plasma)</option>
                <option value="12">O + (Plasma)</option>
                <option value="13">A - (Plasma)</option>
                <option value="14">B - (Plasma)</option>
                <option value="15">Ab - (Plasma)</option>
                <option value="16">O - (Plasma)</option>
          </select>
      <button type="submit" id="bt" class="btn-hover color-11">Search</button>

     </form>

<br><br><br><br>


{% for h in Hospitals %}
<div class="card" style="width: 18rem; ">
     <div class="card-body">
       <h5 class="card-title">Hospital name :- {{h.n}}</h5>
       <p class="card-text">Address :- {{h.Add}}</p>
       <p class="card-text">Email :- {{h.em}}</p>
       
       <a href="/setappointment/{{h.un}}" class="btn btn-primary">set appointment</a>
     </div>
   </div>

</div>
{% endfor %}



<div class="op showdata" id="datas">
     
</div>
  
     




{% endblock %}
{% block js %}
{% load static %}
<script src="{% static 'donor.js' %}"></script>
{% endblock js %}
