{% extends 'base.html' %}

{% block title %} Home{% endblock title %}

{% block css %}
<style>
    body {
        {% comment %} background-color: rgb(253, 238, 238); {% endcomment %}
        width: 99vw;
    }

    .Heading {
        color: rgb(1, 17, 110);
        text-align: center;
        padding: 9vh;
        font-size: 7vw;
        font-family: 'cursive', Times, serif;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .content {

        font-family: 'Bree Serif', serif;
     
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 3px solid green;
        /* background-color: rgb(224, 223, 223); */
        color: rgb(14, 10, 231);
    }
    .card-text{
        /* color: rgb(224, 93, 93); */
    }

    h3 {
        font-size: 7vw;
        text-align: center;
    }

    p {
        text-align: center;
    }

    .card-header {
        background-color: rgb(8, 0, 83);
        font-size: larger;
        color: white;

    }

    .card-body {
        background-color: transparent;
        color: rgb(18, 12, 95);
    }

    .card {
        position: absolute;
        left: 20%;
        right: 20%;
    }

    #u {
        /* background: linear-gradient(45deg, #ff9c9c, rgb(166, 245, 255), #ffa3a3, rgb(40, 230, 255)); */
        animation: bbt 2s ease infinite;
        background-size: 200% 200%;
        /* border-radius: 8em; */
    }

   
    .chat{
        height: 90vh;
        width: 70vw;
        background-color: rgba(40, 74, 75, 0.363);
        position: relative;
        top: 60vh;
        margin: auto;
    }
    .msgs{
        height: 80%;
        width: 100%;
        background-color: rgb(230, 255, 204);
    }
       img{
      width: 99vw;
      height: 100vh;
      position: absolute;
      z-index: -99999;
      opacity: 0.3;
    }

 
{% block h %}height:200vh;{% endblock h %}height:200vh;
</style>
{% endblock css %}



{% block body %}
   {% load static %}
     <img src="{% static "imgs/hh.jpg" %}" alt="home" />
<div class="Heading">Welcome To Our Website</div>

<div class="card text-center">
    <div class="card-header">
        Welcome
    </div>
    <div id="u" class="card-body">
        <h3 class="card-title">Covid Survivors</h3>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident error ratione
            doloribus sed dolorum,
            ipsum cumque reprehenderit dignissimos architecto veniam optio sint aliquam consectetur corrupti vero
            similique velit. Possimus eum consequatur delectus quia magni.Visit the Covid Updates Section and see
            latest
        </p>
        <a href="#" class="btn btn-primary">Get Started</a>
    </div>
</div> 



<section class="chat">
    <h1>chat</h1>
    <div class="msgs" id="msgs">

    </div>
    <form method="post" action="#" id="msg_form">{% csrf_token %}
        <div class="input-group">
            <textarea rows="1" class="form-control" aria-label="With textarea" id="msg_send" name="msg_send"></textarea>
          </div> 
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</section>
<script type="text/javascript"> 
    var a = "{{request.user}}";
 </script>


{% endblock body %}
{% block js %}

{% load static %}
<script src="{% static 'chat.js' %}"></script>
{% endblock js %}





