{% extends 'base.html' %}

{% block title %} Home{% endblock title %}

{% block css %}
<style>
    body {
        background-color: rgb(253, 238, 238);
        width: 100vw;
    }

    .Heading {
        color: rgb(255, 0, 0);
        text-align: center;
        padding: 9vh;
        font-size: 7vw;
        font-family: 'cursive', Times, serif;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }

    .content {

        font-family: 'Bree Serif', serif;
        margin: 3px 230px;
        position: absolute;
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 3px solid green;
        background-color: rgb(224, 223, 223);
        color: rgb(14, 10, 231);
    }

    h3 {
        font-size: 7vw;
        text-align: center;
    }

    p {
        text-align: center;
    }

    .card-header {
        background-color: rgb(250, 81, 81);
        font-size: larger;
    }

    .card-body {
        background-color: rgb(248, 200, 200);
        color:red;
    }

    .card {
        position: absolute;
        left: 20%;
        right: 20%;
    }
    #u{
        background: linear-gradient(45deg, #ff9c9c,rgb(166, 245, 255),#ffa3a3,rgb(40, 230, 255));
        animation: bbt 2s ease infinite;
        background-size: 200% 200%;
        /* border-radius: 8em; */
    }
    @keyframes bbt {
        
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
</style>
{% endblock css %}

{% block body %}
<div class="Heading">Welcome To Our Website</div>

<div class="card text-center">
    <div class="card-header">
        Welcome
    </div>
    <div id="u" class="card-body">
        <h3 class="card-title">Covid Survivors</h3>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident error ratione
            doloribus sed dolorum,
            ipsum cumque reprehenderit dignissimos architecto veniam optio sint aliquam consectetur corrupti vero
            similique velit. Possimus eum consequatur delectus quia magni.Visit the Covid Updates Section and see
            latest
        </p>
        <a href="#" class="btn btn-primary">Get Started</a>
    </div>
</div>
{% endblock body %}