{% extends 'base.html' %}
{% block title %}Live Chat{% endblock title %}
{% block css %}
<style>
    .container-monal {

        border: solid 2px rgb(1, 17, 110);
        margin: 10px auto;

        max-width: 550px !important;
        box-shadow: rgb(0 0 0) 0px 2px 15px -4px;
        padding-left: 0;
        padding-right: 0;
        font-family: 'Baloo Thambi 2', cursive;
        font-size: large;
        background-color: white;

    }

    @media only screen and (max-width: 360px) {
        .completebox {
            height: 20vh;
            overflow: scroll;
        }
    }

    @media only screen and (min-width: 498px) {
        .completebox {
            height: 20vh;
            overflow: scroll;
        }
    }

    @media only screen and (max-width: 320px) {
        .completebox {
            height: 20vh;
            overflow: scroll;
        }
    }


    .heading {

        width: 100%;
        height: 10%;
        border-bottom: none;
        display: inline-block;
        background-color: rgb(1, 17, 110);
        display: flex;
        top: 0;
    }

    .livechat {
        margin-block-start: auto;
        margin-block-end: auto;
        margin-left: 18px;
        padding: auto;
        color: white;
        margin-left: 35px;

        font-weight: bold;
        font-size: x-large;

    }

    .chatlogo {
        width: 40px;
        height: 50px;
    }

    .chatlogo img {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        margin-top: 5px;
    }

    .completebox {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 70vh;
        /* padding-bottom: 30pxg; */
        border-radius: 5px;

    }

    .chats {
        padding: 3px 6px;
    }

    .receivedmsg {
        overflow: hidden;
        float: left;
        display: inline-block;
        padding: 0 0 0 0px;
        vertical-align: top;
        text-align: left;
        min-width: 60%;
        margin-top: 5px;
    }

    .receivedmsginbox {
        width: 90%;
    }

    .timereceived {
        color: rgb(77, 74, 74);
        display: block;
        font-size: 13px;
        margin-bottom: 15px;

    }

    .receivedmsginbox p {
        color: rgb(0, 0, 0);
        background-color: rgb(234, 250, 209);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 15px;
        margin: 0;
        width: 100%;
    }

    .sendedmsg {
        display: inline-block;
        float: right;
        text-align: left;
        padding: 0 0 0 0;
        vertical-align: top;
        /* float: right; */
        /* overflow: hidden; */
        overflow-y: scroll;
        margin: -10px 8px;
        min-width: 60%;
        
        
    }

    .sendedmsginbox p {
        background: rgb(216, 225, 250);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 15px;
    }

    .sendedmsginbox {
        width: 50vh;
        text-align: left;
    }
    #msg_send{
        width: 85%;
        

    }

    .timesended {
        color: rgb(94, 92, 92);
        display: block;
        font-size: 13px;
        float: right;
        margin: -18px 0 15px 0;

    }

    .sendoption {
        margin: 0;
        height: 100%;
        bottom: 0;
        z-index: 1;
        background-color: rgb(1, 17, 110);

    }

    .sendoption div {
        display: contents;
    }

    .writemsg textarea {
        margin: 5px 0px 5px 5px;
        max-width: 500px;
        max-height: 33px;
        border-radius: 4px;
        padding: 4px 7px;
        font-size: 15px;
    }
p{
    text-align: left;
}
    input[type="text"] {
        border-radius: 2px 0 0 2px;

        width: calc(95% - 47px);
        margin: 5px;
        padding: 6px 4px;
        font-size: small;

        outline: none;
    }
.msd{
    justify-content: left;
    
   
}

    .newsendlogo img {
        float: right;
        width: 38px;
    height: 45px;
    padding: 0px;
    margin: 0px 9px 1px 1px;

        position: relative;
        cursor: pointer;
        background: transparent;
    }
    .newsendlogo button{
        display: contents;
    }

    .name {
        font-size: 0.9em;
        font-weight: bold;
        color: rgb(0, 0, 68);
        float: left;
    }

    .names {
        font-size: 0.9em;
        font-weight: bold;
        color: rgb(0, 0, 68);
        float: left;
    }
    form div{
        display: flex;

    }
</style>

{% endblock css %}
{% block body %}
{% load static %}
<div id="c"></div>
<div class="total-monal-chat">
    <div class="container-monal">
        <div class="heading ">
            <div class="chatlogo">
                <img src="{% static "imgs/chatlogo2.png" %}" alt="home" />
               
            </div>
            <div class="livechat">
                Live Chat
            </div>
        </div>
        <div class='scroll scroll--grey'>
            <div class='inner'></div>
            <div id="completebox" class="completebox">
                <div id="chats" class="chats">
                    <div id="messegesall" class="recandsend">
                        


                    </div>
                </div>
            </div>
        </div>



        <div class="sendoption">


            <!-- <form method="post" action="#" id="msg_form">{% csrf_token %}
            <div class="input-group">
                <textarea rows="1" class="form-control ta" aria-label="With textarea" id="msg_send" name="msg_send"></textarea>
                </div>
                <button type="submit" class="btn btn-primary m-3">Send</button>
                </form> -->

            <form method="post" action="#" id="msg_form">{% csrf_token %}

                <div class="writemsg">
                    <textarea id="msg_send" name="msg_send" rows="1" class="writemsg" placeholder="Write message..."></textarea>
                </div>
                <div class="newsendlogo">
                    <button type="submit">
                        <img src="{% static "imgs/newsendlogo.png" %}" alt="home" />
                    </button>

                </div>
            </form>

        </div>
    </div>
</div>

 <script type="text/javascript">
    var a = "{{request.user}}";

    $('#msg_form').submit(function (event) {
        var msg = document.getElementById("msg_send").value;
        console.log(msg);

        // $('#showdata').empty();
        var formData = {
            'msg': msg,

            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };
        $.ajax({
            type: 'POST',
            url: 'livechat',
            data: formData,
            encode: true
        })
            .done(function (data) {
                            console.log(data)
                            document.getElementById('msg_send').value = ""
                            if(data == "Messege sent"){
                                document.getElementById('c').innerHTML = ` <div class="success">
        <span class="cc" onclick="this.parentElement.style.display='none';">&times;</span>
        ${data}
      </div>`

                            }
                            else{

                                document.getElementById('c').innerHTML = ` <div class="danger">
        <span class="cc" onclick="this.parentElement.style.display='none';">&times;</span>
        ${data}
      </div>`
                            }

            });
        event.preventDefault();

    });
    var a = "{{request.user}}"


    var g = "";
    setInterval(() => {

        console.log("working")
        fetch('/chatt')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                str = ""
                console.log("fs")
                var i = 0;
                data.forEach(e => {


                    if (e.un == a) {



                        str = str +`<div id="ch${i}" class="sendedmsg">
                            <div class="sendedmsginbox">
                                    <p> <span class="names">${e.name}</span> <br> <span class="msd">${e.msg}</span> </p>
                                    <span class="timesended">${e.time.slice(0,16)}</span>
                                    </div>
                                    </div>`
                                    i  = i+1
                    }


                    else {



                        str = str +  `  <div id="ch${i}" class="receivedmsg">
                                        <div class="receivedmsginbox">

                                            <p> <span class="name">${e.name}</span> <br> <span class="msd">${e.msg}</span> 
                                            </p>
                                            <span class="timereceived">${e.time.slice(0,16)}</span>
                                        </div>
                                    </div>`
                                    i = i+1
                    }

                }

                );
                document.getElementById('messegesall').innerHTML = str
                
                var myElement = document.getElementById(`ch${i-1}`);

                var topPos = myElement.offsetTop;

                ocument.getElementById('messegesall').scrollTop = topPos;



   

            })
        }, 1000);
        
  
</script>  

{% endblock %}