{% extends 'base.html' %}

{% block title %}login{% endblock title %}
     {% block css %}  
  <style>
      #box{
          display: flex;
      }
      .box{
          width: 20%;
          margin: 10px 10px;
      }
  </style>{% endblock css %}


{% block body %}
<div id="box">
<div class="box">
<h2>For User</h2>

<form action="/loginuser" method="POST" >
  {% csrf_token %}

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" name="hnamecheck" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="hidcheck" class="form-control" id="exampleInputPassword1">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<div class="box">
<h2>For Employee</h2>
<form action="/loginemp" method="POST">
    {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" name="empusername" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="emppassword" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>

 {% endblock %}