{% extends 'base.html' %}

{% block title %}Password Reset{% endblock title %}
{% block css %}
<style>
  #outer {
    position: relative;
    top: 16vh;
    margin-bottom: 60vh;
  }

  #inner {
    /* max-width: 432px; */
    padding: 1px;
    height: 277px;
    margin: auto;
    background: #fff;
    box-shadow:rgb(0 0 0 / 51%) 0px 2px 15px -4px;

/* 
    background-image: linear-gradient(rgb(255, 183, 183), rgb(139, 249, 255)); */

  }
  .box h3{
    text-align: center;
  /* font-size: 16px; */
  font-weight:bolder;
  /* display:inline-block; */
  margin:16px 7px 9px 8px; 
  color: rgb(1, 17, 110);
  /* border-bottom: 2px solid #5fbae9; */
  font-weight: bolder;
  }
.box span{
  border-bottom: solid 2px #5fbae9;
    padding-bottom: 6px;
   
}
  .box {

    top: 20%;

  }
  .btn-info{
    margin: 0px  ;
   
  }
  form{
    display: flex;
    justify-content: center;
  }
 
 @media (max-width: 405px) {
  .box {padding: 20px 10px;}
  #inner{
    transform: scale(0.95,0.95);
    max-width: 532px;
  }
  .btn-info{
    width: 50px;
    font-size: x-small;

  }
   
 }
 @media (min-width: 405px) {
   .box p{padding: 20px 0px;}
   #inner {
    max-width: 432px;}
    .btn-info{max-width:68px;
   
 }
 

 /* input[type="submit"]{
  width: calc(80% - 47px);
 } */

</style>{% endblock css %}

{% block body %}
<div id="outer">
<div class="container">
  <div id="inner">
<div class="box">

<h3><span> PASSWORD RESET </span></h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="post">

	{% csrf_token %}
	{{form}}
	<input type="Submit" class="btn btn-info submitstyle" name="Send email">
	
</form>
</div></div>
</div></div>
 {% endblock %}