{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}
{% block links %}


{% endblock links %}

{% block css %}
<style>
  @import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
  body{
    /* margin-top:20px; */
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
  }
  .main-body {
    padding: 15px;
  }
  .card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}


body {
  background: #eee;
  font-family: 'Lily Script One';
}

.ccard {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin: -150px;
  float: left;
  perspective: 500px;
}
@media only screen and (max-width: 1213px) {

.ccard{
  transform: scale(0.9,0.9);
}
.ccontent{
  transform: scale(0.9,0.9);
}
}

.ccontent {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.ccard:hover .ccontent {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}
#status{
  width: 90%;
  height: 85%;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  background: radial-gradient(#fdfcfb , #e2d1c3);
  border-radius: 9px;
  margin: auto;
  transition: all 0.3s;
}

#status:hover{
  transform: scale(0.98,0.98)
}
/* checkbox***************** */

label {
  padding: 4px 6px;
  width: 80px;
  
  line-height: 190%;
  outline-style: none;
  transition: all .3s;
  font-weight: bold;
  margin: 3px;
}

.hiddenCB div {
  display: inline;
  /* margin: 5px; */
  padding: 0;
  list-style: none;

}



.hiddenCB input[type="checkbox"],
.hiddenCB input[type="radio"] {
  display: none;
  
}

.hiddenCB label {
  
  cursor: pointer;
}

.hiddenCB input[type="checkbox"]+label:hover{
  background: rgb(3, 0, 69);
  color: white;
  
}

.hiddenCB input[type="checkbox"]:checked+label {
  background: rgb(3, 1, 71);
  color: white;
}

.hiddenCB input[type="checkbox"]:checked+label:hover{
  background: rgba(0, 128, 128, 0, .7);
}


{% comment %}  {% endcomment %}
   /* #outer-thnq {
           position: relative;
           top: 11vh;
           margin-bottom: 50vh;
         } */
       
         #inner-thnq {
            max-width: 333px;
           /* margin: 0 auto; */
           box-shadow:rgb(0 0 0 / 51%) 0px 2px 15px -4px;
           background: #fff;
       
         }
         .box-thnq span{
           text-align: Left;
           
           /* border-bottom: 2px solid #5fbae9 ; */
          
         }
         .box-thnq h3{
           display: flex;
           justify-content: center;
           font-weight:bolder;
           color:rgb(201, 75, 53) ;
           
         }
         .box-thnq {
           padding: 20px;
       
           top: 20%;
       
         }
         .quote img{
           
    width: 44px;
    height: 40px;
    margin: 2px 12px 2px 2px;
    

         }
         .quote{
             display: flex;
         }
       

</style>
{% endblock css %}

{% block body %}

<div class="container">
  <div class="main-body my-3">
    
    
    
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              {% load static %}
{% if p1.G == "h" %}
              <img id="bgg" src="{% static "imgs/hs.jpg" %}" alt="Admin" class="rounded-circle" width="300" />
{% endif %}
{% if p1.G == "e" %}
              <img id="bgg" src="{% static "imgs/user.jpg" %}" alt="Admin" class="rounded-circle" width="300" />
{% endif %}
{% if p1.G == "c" %}
              <img id="bgg" src="{% static "imgs/user.jpg" %}" alt="Admin" class="rounded-circle" width="300" />
{% endif %}
{% if p1.G == "Wa" %}
              <img id="bgg" src="{% static "imgs/adm.jpg" %}" alt="Admin" class="rounded-circle" width="300" />
{% endif %}
{% if gg == "T" %}
              <img id="bgg" src="{% static "imgs/u2.jpg" %}" alt="Admin" class="rounded-circle" width="300" />
{% endif %}
              <div class="mt-3">
          
                {% if gg == "T" %}
                
                <h3>{{fn}} </h3>
                <p class="text-secondary mb-1">USER</p>
                

{% endif %}
{% if p1.G == "h" %}

                      <h3> {{p1.N}} {{fn}} &nbsp; {{ln}}</h3>
                      <p class="text-secondary mb-1">HOSPITAL</p>


  {% endif %}
{% if p1.G == "Wa" %}

                      <h3> {{user}}</h3>
                      <p class="text-secondary mb-1">ADMIN</p>


  {% endif %}
{% if p1.G == "e" %}

                      <h3> {{p1.N}} {{fn}} &nbsp; {{ln}}</h3>
                      <p class="text-secondary mb-1">Employee</p>


  {% endif %}
{% if p1.G == "c" %}

                      <h3> {{p1.N}} {{fn}} &nbsp; {{ln}}</h3>
                      {% if p1.T == "BD" %}

                      <p class="text-secondary mb-1">Blood Donor</p>
                      {% elif p1.T == "CS" %}
                      <p class="text-secondary mb-1">Covid Survivor</p>

                      {% endif %}

{% else %}


  {% endif %}



                      {% comment %} <p class="text-secondary mb-1">Full Stack Developer</p> {% endcomment %}
                
                    </div>
                  </div>
                </div>
              </div>
              {% if gg == "T"  %}
             
  
{% endif %}
              {% if p1.G == "h"  %}
              {% endif %}
     <div class="card mt-3" >
                <ul class="list-group list-group-flush">
                  <div class="d-flex flex-column align-items-center text-center">

          
    {% if p1.G == "e" %}
  <h4 class="mt-4">Hey {{p1.N}}, Welcome to our website... </h4>
 <a href="/getstarted">
       <button class="custom-btn btn-5"><span>Get started</span></button>



  </a>
  {% endif %}
  

  {% if p1.G == "h" %}
  
  <div class="hiddenCB">
  <h3 class="my-3"> Update Available Blood data</h3>
  <small class="my-3"> (P) means For Plasma Treatment</small>
  <form action="/profile" method="POST">
    {% csrf_token %}
    
    <div>
      <input type="checkbox" name="A+" id="A+" /><label for="A+">A+</label>
      <input type="checkbox" name="B+" id="B+" /><label for="B+">B+</label>
      <input type="checkbox" name="AB+" id="AB+" /><label for="AB+">AB+</label>
      <input type="checkbox" name="O+" id="O+" /><label for="O+">O+</label>
    <input type="checkbox" name="A-" id="A-" /><label for="A-">A-</label>
    <input type="checkbox" name="B-" id="B-" /><label for="B-">B-</label>
    <input type="checkbox" name="AB-" id="AB-" /><label for="AB-">AB-</label>
    <input type="checkbox" name="O-" id="O-" /><label for="O-">O-</label>
    <input type="checkbox" name="A+(P)" id="A+(P)" /><label for="A+(P)">A+(P)</label>
    <input type="checkbox" name="B+(P)" id="B+(P)" /><label for="B+(P)">B+(P)</label>
    <input type="checkbox" name="AB+(P)" id="AB+(P)" /><label for="AB+(P)">AB+(P)</label>
    <input type="checkbox" name="O+(P)" id="O+(P)" /><label for="O+(P)">O+(P)</label>
    <input type="checkbox" name="A-(P)" id="A-(P)" /><label for="A-(P)">A-(P)</label>
    <input type="checkbox" name="B-(P)" id="B-(P)" /><label for="B-(P)">B-(P)</label>
    <input type="checkbox" name="AB-(P)" id="AB-(P)" /><label for="AB-(P)">AB-(P)</label>
    <input type="checkbox" name="O-(P)" id="O-(P)" /><label for="O-(P)">O-(P)</label>
    

       <button type="submit" class="custom-btn btn-9">Update</button>

  </div>
</form>
</div>
  {% endif %}

    {% if gg == "T" %}
    
                    {% load static %}
                    <br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br>
                      <!-- <source media="(min-width: )" srcset=""> -->
                     
                    <a href="/donors">
                      <div class="ccard">
                        <div class="ccontent">
                          <div class="front" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 2.6em; color: white; background: radial-gradient(#f3ced5, #fa99b2);">
                            Donate Blood 
                          </div>
                          <div class="back" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: white; background: radial-gradient(#1fe4f5, #3fbafe);">
                            Click!
                          </div>
                        </div>
                      </div>
     </a>

  {% endif %}

                  
                    
                </ul>
              </div> 
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Username</h6>
                    </div>
{% if gg == "T" %}
                    
                    <div class="col-sm-9 text-secondary">
                      {{user}}
                    </div>
                    {% comment %} {% else %} {% endcomment %}
                    <div class="col-sm-9 text-secondary">
                      {% comment %} {{user}}  {% endcomment %}
                    </div>

{% endif %} 



                    


{% if gg != "T" %}
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
{% endif %}
{% if p1.G == "c" %}

                    <div class="col-sm-9 text-secondary">
                     {{p2.E}}
                    </div>
{% else  %}

                    <div class="col-sm-9 text-secondary">
                    {{p1.E}}
                    </div>
{% endif %}

                  </div>
{% if gg != "T" %}
                  <hr>
{% endif %}
{% if gg == "T" %}
{% comment %} <div class="row"> {% endcomment %}
         
                  {% endif %}
              


{% if p1.G == "h" %}
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>

                    <div class="col-sm-9 text-secondary">
                     {{p2.A}}
                    </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>

                    <div class="col-sm-9 text-secondary">
                     {{p2.P}}
                     
                    </div>

                  </div>
                  <hr>
                
                  
{% endif %}

{% if p1.G == "e" %}
  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Hospital</h6>
                    </div>

                    <div class="col-sm-9 text-secondary">
                    {{p2.X}}
                    </div>

                  </div>
                  <hr>

                    <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Hospital Email</h6>
                    </div>

                    <div class="col-sm-9 text-secondary">
                    {{p2.Y}}
                    </div>

                  </div>
                  <hr>

                    <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Hospital Address</h6>
                    </div>

                    <div class="col-sm-9 text-secondary">
                    {{p2.Z}}
                    </div>

                  </div>
                  <hr>

{% endif %}


{% if p1.G == "c" %}
   <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Blood Group</h6>
                    </div>

                    <div class="col-sm-9 text-secondary">
                   {{p1.B}}
                    </div>

                  </div>
                  <hr>

                     <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Date</h6>
                    </div>

                    <div class="col-sm-9 text-secondary">
                   {{p1.D}}
                    </div>

                  </div>
                  <hr>

                     <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Age</h6>
                    </div>

                    <div class="col-sm-9 text-secondary">
                    {{p1.n}}
                    </div>


                  </div>
                  <hr>

                     <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Hospital</h6>
                    </div>

                    <div class="col-sm-9 text-secondary">
                     {{p2.A}}
                    </div>

                  </div>
                  <hr>

                     <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">For Any Concern Mail</h6>
                    </div>

                    <div class="col-sm-9 text-secondary">
                    {{p2.Au}}
                    </div>

                  </div>
                  <hr>

{% endif %}













                 
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i></h6>
{% if p1.G == "Wa"  %}
  <a href="/add">
          <button class="custom-btn btn-3"><span>Add Hospital</span></button>

  
  </a>
 <a href="/commentshow">
          <button class="custom-btn btn-8"><span>Comments</span></button>


  </a>

                    
                
{% endif %}

{% if gg == "T" %}
<h4>Hey {{fn}}, Welcome to our website... </h4>
 <a href="/getstarted">
       <button class="custom-btn btn-5"><span>Get started</span></button>



  </a>
                       <a href="/logout">

                           <button class="custom-btn btn-7"><span>Logout</span></button>
</a>
  {% else %}
  {% if p1.G != "e" %}
  <h4>Hey {{p1.N}}, Welcome to our website... </h4>
 <a href="/getstarted">
       <button class="custom-btn btn-5"><span>Get started</span></button>



  </a>
  {% endif %}


{% endif %}




{% if p1.G == "h"  %}
  <a href="/addemployeee">
          <button class="custom-btn btn-3"><span>Add Employee</span></button>

  
  </a>
 <a href="/commentshow">
          <button class="custom-btn btn-8"><span>Comments</span></button>


  </a>
                                      <a href="/logout">

                           <button class="custom-btn btn-7"><span>Logout</span></button>
</a>

                    
                
{% endif %}

{% if p1.G == "e"  %}
<h4>Add Covid Survivor / Blood Donor</h4>

  <a href="/addpat">
          <button class="custom-btn btn-3"><span>Add</span></button>

  
  </a>

                      {% comment %} <div class="progress mb-3" style="height: 5px">
                        <div class=" bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> {% endcomment %}

 <a href="/commentshow">
          <button class="custom-btn btn-3"><span>Comments</span></button>


  </a>


                    
                
{% endif %}


                    </div>
                  </div>
                </div>
                {% comment %} {% if status != "N" %} {% endcomment %}
                
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i></h6>
                    {% if p1.G == "e" %}
                      <h4>set Blood Donation Appointments</h4>
 <a href="/setappointmentpage">
          <button class="custom-btn btn-8"><span>Set Appointments</span></button>


  </a>

  <h4>Update and Set Blood donation status</h4>
 <a href="/appointmentsshown">
          <button class="custom-btn btn-8"><span>Appointments</span></button>


  </a>

                    
                    
                    {% endif %}
               {% if p1.G != "h" %}
              
              {% if gg != "T" %}

                                      <a href="/logout">

                           <button class="custom-btn btn-7"><span>Logout</span></button>
              {% endif %} 
</a>
               {% endif %}    
               
               <!-- {{status}} -->
               {% if "AppSeted" in status %}
               {% comment %} <div id="status">
 
                 <p>
                   
                   Your Appointment is fixed for <br> <span style="color: rgb(0, 0, 0);"> {{status | slice:"8:18"}} </span>
                   for more details please contact  <span style="color: rgb(0, 0, 0);"> {{hname}} </span>
                 </p>
                </div> {% endcomment %}

                 <div id="outer-thnq">
        <div class="container-thnq">
          <div id="inner-thnq">
        <div class="box-thnq">
        
       
            
        <h2><span> Your appointment has been set on {{status | slice:"8:18"}}</span></h2>
   
    <div class="quote">
    <img src="{% static "imgs/cont.png" %}" alt="">
        <h3>Contact hospital {{hname|upper}} for more information</h3>
    </div>
        
      
        
       
        </div></div>
        </div></div>
                 {% elif "BloodDonated" in status %}
                 {% comment %} <div id="status">

                 <h4>
                   {{status | slice:"12:22"}} <br>
                   Thanks for Donating Your Blood! it will help teh needy
                  </h4>
                </div>            {% endcomment %}
                   <div id="outer-thnq">
        <div class="container-thnq">
          <div id="inner-thnq">
        <div class="box-thnq">
        
        <div class="quote">
            <img src="{% static "imgs/qu.png" %}" alt="">
        <h3><span> EVERY BLOOD DONOR IS A LIFE SAVER</span></h3>
    </div>
        <h2>THANKS FOR DONATING</h2>
        
      
        
       
        </div></div>
        </div></div>
                       {% endif %}


                 
               {% if "gg" == "T" %}
               sfmk
               {% endif %}
               {% if p1.G == "h" %}
               <h4>Available Blood Groups</h4>
               
              
               {% if '1' in p2.BA %}
         <button class="custom-btn btn-16" style="font-weight: bold;">A+</button>
               {% endif %} 
               
               {% if '2' in p2.BA %}
         <button class="custom-btn btn-16" style="font-weight: bold;">B+</button>
               {% endif %} 
               
               {% if '3' in p2.BA %}
         <button class="custom-btn btn-16" style="font-weight: bold;">AB+</button>
               {% endif %} 
               
               {% if '4' in p2.BA %}
         <button class="custom-btn btn-16" style="font-weight: bold;">O+</button>
               {% endif %} 
               
               {% if '5' in p2.BA %}
         <button class="custom-btn btn-16" style="font-weight: bold;">A-</button>
               {% endif %} 
               
               {% if '6' in p2.BA %}
         <button class="custom-btn btn-16" style="font-weight: bold;">B-</button>
               {% endif %} 
               
               {% if '7' in p2.BA %}
         <button class="custom-btn btn-16" style="font-weight: bold;">AB-</button>
               {% endif %} 
               
               {% if '8' in p2.BA %}
         <button class="custom-btn btn-16" style="font-weight: bold;">O-</button>
               {% endif %} 
              
               {% if '9' in p2.BA %}
         <button class="custom-btn btn-16" style="font-weight: bold;">A+ (P)</button>
               {% endif %} 
               
               {% if '10' in p2.BA %}
         <button class="custom-btn btn-16" style="font-weight: bold;">B+</button>
               {% endif %} 
               
               {% if '11' in p2.BA %}
         <button class="custom-btn btn-16" style="font-weight: bold;">AB+(P)</button>
               {% endif %} 
               
               {% if '12' in p2.BA %}
         <button class="custom-btn btn-16" style="font-weight: bold;">O+(P)</button>
               {% endif %} 
               
               {% if '13' in p2.BA %}
         <button class="custom-btn btn-16" style="font-weight: bold;">A-(P)</button>
               {% endif %} 
               
               {% if '14' in p2.BA %}
         <button class="custom-btn btn-16" style="font-weight: bold;">B-(P)</button>
               {% endif %} 
               
               {% if '15' in p2.BA %}
         <button class="custom-btn btn-16" style="font-weight: bold;">AB-<small>(P)</small></button>
               {% endif %} 
               
               {% if '16' in p2.BA %}
         <button class="custom-btn btn-16" style="font-weight: bold;">O-(P)</button>
               {% endif %} 
           
               

               {% endif %}      
                     
                    </div>
                  </div>
                </div>
              </div>
                {% comment %} {% endif %} {% endcomment %}



            </div>
          </div>

        </div>
    </div>

{% endblock %}