{% extends 'base.html' %}

{% block title %}Blogpost{% endblock title %}

{% block body %}
Title:- {{post.title}} <br>
Author:- {{post.author}} <br>
Time:-{{post.Timestamp}} <br>
sno:-{{post.sno}} <br>
Content:- {{post.content}}<br>
<hr>
<a href="/blog">bloghome</a>

{% comment %} {% if post.authorUsernames = user.username %}
<a href="/blog/delB/{{post.sno}}">Delete</a> <br><br>
{% endif %} {% endcomment %}
{% comment %} {{post.authorUsername}} {% endcomment %}
{% if post.authorUsername == user.username %}
<a href="/blog/delB/{{post.sno}}">Delete</a> <br><br>

{% endif %}
 {% endblock %}