{% extends 'base.html' %}

{% block title %}Blogpost{% endblock title %}
  {% block links %}
 <div id="fb-root"></div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0" nonce="YhWzS66e"></script>   {% endblock links %}


{% block css %}
<style>




    

 
</style>
{% endblock css %}

{% block body %}
<div class="container">
  <div class="card my-2 animatn">
 
  <img src="media/{{post.blog_img}}" alt="">
    <div class="card-header">
      {{post.title}}
    </div>
    <div class="card-body">
      <h5 class="card-title">By {{post.author}} <small>{{post.Timestamp}} </small></h5>
      <p class="card-text">

        {% autoescape off %}{{post.content}}{% endautoescape %}



      </p>
      
    <a href="/blog" class="btn btn-warning">Back</a>
{% if post.authorUsername == userp.U %}
    <a href="/blog/delB/{{post.sno}}" class="btn btn-danger">Delete</a>


{% elif userp.G == "e" %}
    <a href="/blog/delB/{{post.sno}}" class="btn btn-danger">Delete</a>
hehehe

{% endif %}


</div>
    </div>
<div class="fb-like" data-href="http://127.0.0.1:8000/blog/{{post.sno}}" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div>
    <div class="container">
    <div class="fb-comments" data-href="http://127.0.0.1:8000/blog/{{post.sno}}" data-width="" data-numposts="3"></div>
    </div>




 {% endblock %}