{% extends 'base.html' %}

{% block title %}Add Blogs{% endblock title %}


{% block css %}
<style>
  #pagination {
    margin: auto;
    width: 200px;
    zoom: 1.4;
  }

  #share {
    margin: 10px;
  }

  .left1 {
    animation: left1 0.3s ease-out 1 forwards;

  }

  .right1 {

    position: relative;
    right: -200px;
    visibility: hidden;
    animation: right1 0.3s ease-out 1 0.2s forwards;

  }

  .left2 {
    animation: left1 0.3s ease-out 1 0.5s forwards;
    right: 200px;

    visibility: hidden;


  }

  .right2 {

    position: relative;
    right: -200px;
    visibility: hidden;
    animation: right1 0.3s ease-in 1 0.7s forwards;

  }

  @keyframes right1 {
    0% {
      opacity: 0;
      visibility: visible;
      background: rgb(113, 250, 255);
      left: 200px;
      top: 0px;
    }

    100% {
      opacity: 1;
      /* background: rgb(255, 240, 240); */
      left: 0px;
      visibility: inherit;
      top: 0px;
    }
  }

  @keyframes left1 {
    0% {
      opacity: 0;
      visibility: visible;
      background: rgb(113, 250, 255);
      left: -200px;
      top: 0px;

    }

    100% {
      opacity: 1;
      /* background: rgb(255, 240, 240); */
      left: 0px;
      visibility: inherit;
      top: 0px;

    }
  }

  .block {
    display: block;
    width: 200px;
  }
  .ccc{
    transition: all 0.6s;
  }
  .ccc:hover{
    box-shadow: rgb(0, 23, 91) 5px 5px 5px;
  }

  .Shareblg {
    position: -webkit-sticky;
    position: sticky;
    top: 20vh;
    left: 90vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #bg {
    width: 99.4vw;
    height: 100vh;
    position: absolute;

    z-index: -99999;
    opacity: 0.8;
  }


    {
    % block h %
  }

  height:200vh;

    {
    % endblock h %
  }

  #title {
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }

  #author {
    color: rgb(255, 81, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #time {
    font-size: 0.6em;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
  }

  .butto {
    display: block;
    min-width: 70px;
    max-width: 110px;
  }
</style>



{% endblock css %}


{% block body %}
{% load static %}
<img id="bg" src="{% static "imgs/bhh.jpg" %}" alt="home" />

<a href="/blog/addblog">
  <button type="button" id="share" class="btn-hover butto color-1 Shareblg">Share Your Experience <span>&#9998</span>
  </button>

</a>







<div class="container" style="max-width: 1200px; opacity: 0.95;">
  {% for post in page_obj %}





  <div class="card my-2 ccc cardd {% cycle 'left1' 'right1' 'left2' 'right2' %}">
    <div class="card-header" style="background-color: rgb(9, 2, 66); margin: 0;">
      <span id="title"> {{post.title}}</span>
    </div>
    <div class="card-body">

      <h5 class="card-title">By <span id="author">{{post.author}}</span> <span id="time">{{post.Timestamp|slice:"0:11"}} :: <b>{{post.Timestamp | slice:"11:16"}} </b> </span></h5>
      <p class="card-text">
        {% autoescape off %}{{post.content|slice:300}}{% endautoescape %}
        <!-- <br> -->


      </p>
    </div>
    <a href="/blog/{{post.sno}}" class="btn-hover butto color-7" style="padding:9px 13px ;">Read more</a>
  </div>
  
  
  
  
  
  {% endfor %}
</div>




  <br>

  <div id="pagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}

        <li class="page-item">
          <a class="page-link  right2" href="?page={{page_obj.previous_page_number}}" aria-label="Next">
            <span aria-hidden="true">&laquo;</span>
          </a>
          {% endif %}
        <li class="page-item  right2"><a class="page-link" href="#">{{page_obj.number}}</a></li>
        {% if page_obj.has_next %}

        <li class="page-item  right2">
          <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
  <div class="bl">


  </div>



{% endblock %}