{% extends 'base.html' %}

{% block title %}Blogpost{% endblock title %}

{% block body %}
Title:- {{post.title}} <br>
Author:- {{post.author}} <br>
Time:-{{post.Timestamp}} <br>
sno:-{{post.sno}} <br>
Content:- {% autoescape off %}{{post.content|slice:200}}{% endautoescape %}<br>
<hr>
    <a href="/blog" class="btn btn-warning">Blogs</a>


{% comment %} {% if post.authorUsernames = user.username %}
<a href="/blog/delB/{{post.sno}}">Delete</a> <br><br>
{% endif %} {% endcomment %}
{% comment %} {{post.authorUsername}} {% endcomment %}
{% if post.authorUsername == user.username %}
    <a href="/blog/delB/{{post.sno}}" class="btn btn-danger">Delete</a>


{% endif %}
 {% endblock %}