{% extends 'base.html' %}

{% block title %}Add Blogs{% endblock title %}


{% block css %}
<style>
  #pagination {
    margin: auto;
    width: 200px;
    zoom: 1.4;
  }

  #share {
    margin: 10px;
  }

  .left1 {
    animation: left1 0.3s ease-out 1 forwards;

  }
  
  .right1 {
    
    position: relative;
    right: -200px;
    visibility: hidden;
    animation: right1 0.3s ease-out 1 0.2s forwards;

  }
  .left2 {
    animation: left1 0.3s ease-out 1 0.5s forwards;
    right: 200px;

    visibility: hidden;


  }
  
  .right2 {
    
    position: relative;
    right: -200px;
    visibility: hidden;
    animation: right1 0.3s ease-in 1 0.7s forwards;

  }

  @keyframes right1 {
    0% {opacity: 0;
      visibility: visible;
      background: rgb(113, 250, 255);
      left: 200px;
      top: 0px;
    }

    100% {opacity: 1;
      /* background: rgb(255, 240, 240); */
      left: 0px;
      visibility: inherit;
      top: 0px;
    }
  }

  @keyframes left1 {
    0% {opacity: 0;
      visibility: visible;
      background: rgb(113, 250, 255);
      left: -200px;
      top: 0px;

    }

    100% {opacity: 1;
      /* background: rgb(255, 240, 240); */
      left: 0px;
      visibility: inherit;
      top: 0px;

    }
  }
  .block{
    display: block;
    width: 200px;
  }







</style>



{% endblock css %}


{% block body %}
<a href="/blog/addblog">
  <button type="button" id="share" class="btn btn-lg btn-primary">Share Your Experience</button>

</a>



<hr>



<div class="container">
  {% for post in page_obj %}





  <div class="card my-2 cardd {% cycle 'left1' 'right1' 'left2' 'right2' %}">
    <div class="card-header">
      {{post.title}}
    </div>
    <div class="card-body">
      <h5 class="card-title">By {{post.author}} <small>{{post.Timestamp}} </small></h5>
      <p class="card-text">

        {% autoescape off %}{{post.content|slice:200}}{% endautoescape %}



      </p>
      <a href="/blog/{{post.sno}}" class="btn btn-info my-2 block">Read more</a>
    </div>
  </div>





  {% endfor %}



  <div id="pagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}

        <li class="page-item">
          <a class="page-link  right2" href="?page={{page_obj.previous_page_number}}" aria-label="Next">
            <span aria-hidden="true">&laquo;</span>
          </a>
          {% endif %}
        <li class="page-item  right2"><a class="page-link" href="#">{{page_obj.number}}</a></li>
        {% if page_obj.has_next %}

        <li class="page-item  right2">
          <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}